<h4>Want to downgrade your account? This cannont be undone and you will have to pay again.</h4>
<%= link_to "Downgrade Your Account", downgrade_create_path, method: :create, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to downgrade?'} %>
